.ludo{
  width: 100vw;
  height: 100vh;
  background-image: url("https://th.bing.com/th/id/OIP.Nk86XzSA04bAQKcywowo_QHaHa?w=128&h=108&c=7&qlt=90&bgcl=b67ea3&r=0&o=6&cb=ucfimg1&dpr=2.3&pid=13.1&ucfimg=1");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
};